<!DOCTYPE HTML>
<html>
	<head>
		<title>Fiwi Renatal</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="Public user based vehicle rental website"/>
		<meta name="keywords" content="rental car vehicle jamaica"/>
		<meta name="author" content="Fi Wi Renatal" />
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Sematic UI-->
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"> </script>
        <!-- custom css -->
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
        <div>
            <!-- {% include "topbar.html" %}
            {% include "sidebar.html" %} -->

            <!-- Topbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Fiwi Rental</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Browse <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Reserve</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">List your car</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign up</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </nav>
            <!-- Topbar End -->
            <!-- Carousel -->
            <div class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner homeCarousel">
                    <div class="carousel-item">
                        <img src="../static/images/carkeys.jpeg" class="d-block w-100" alt="Car Keys by
                        revac film's &amp; photography">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/highway.jpeg" class="d-block w-100" alt="highway by Mike Bird">
                    </div>
                    <div class="carousel-item active">
                        <img src="../static/images/jamaicanhills.jpg" class="d-block w-100" alt="Hills of jamaica">
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
            <!-- Date Picker -->
            <div class="carouselForm">
                <div class="ui form">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui calendar" id="rangestart">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Start"/>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui calendar" id="rangeend">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="End"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Date Picker End -->
        </div>
        <!-- MAIN JS -->
        <script src="../static/js/main.js"></script>
	</body>
</html>